
html { 
height:100%;
width:100%;
overflow:hidden;
  background: url('../images/background.jpg') center center fixed; 
}
#menutoggle{
  background:rgba(0,0,0,0.8);
  z-index:2;
  height:fit-content;
  width:50px;
  border-top-right-radius:100%;
  border-bottom-right-radius:100%;
  border-right:1px solid gold;
  border-bottom:1px solid gold;
  border-top:1px solid gold;
  font-size:5vh;
  color:white;
  text-align:center;
  top:35vh;
  position:absolute;
}
#menu{
  border-top: 1px solid gold;
  z-index:1;
  position:absolute;
  background:rgba(0,0,0,.8);
  color:white;
  overflow-x:hidden;
  overflow-y:auto;
}
#logo{
  height:50%;
  width:100%;
}
h1{
  padding-left:50px;
  font-size:2em;
  font-weight:heavy;
  color:white;
  font-family:serif;
  background:rgba(0,0,0,0.8)
}
#menu h1 {
  background:none;
}
#menu {
  font-family:courier;
}
#menu input{
  background:rgba(0,0,0,0.2);
  border: 1px solid gold;
  color:gold;
}
#menu textarea{
  background:rgba(0,0,0,0.2);
  color:gold;
  border: 1px solid gold;
}
