<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = ""
        xmlns:gap   = ""
        id          = "com.warren.barver"
        versionCode = "001" 
        version     = "0.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>The Mobile Barber</name>

    <description>
        The Mobile Barber app
    </description>

    <author href="www.facebook.com/warren.hood.750" email="nullbyte001@gmail.com">
        Warren Hood
    </author>
	<preference name="DisallowOverscroll" value="true" />
 <preference name="orientation" value="portrait" />
  <preference name="fullscreen" value="true" />
  <preference name='uiwebviewbounce' value='false' />
		<plugin name="cordova-plugin-email-composer" spec="https://github.com/katzer/cordova-plugin-email-composer.git#0.8.2" />
</widget>
